<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>April Savoy</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="stylesheets/resume.css" rel="stylesheet">

  </head>
  <style type="text/css">
    html, body {
    height: 100%;
    margin: 0;
    background-color: #F9F9F9;
    }
    
    #wrapper {
    min-height: 100%; 
    }
    </style>

  <body id="page-top">

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
          <style type="text/css">
             @media (min-width: 1100px) {
             .dropdown-menu {
             width:200px; left:50%; margin-left:-100px;
             }
             }
          </style>
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <span class="d-block d-lg-none">April Savoy</span>
          <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/aprilsavoy.jpeg" alt="april savoy">
          </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav">
                <li class="nav-item">
                   <a class="nav-link" href="../#about">About</a>
                </li>
                <li class="nav-item">
                <li class="dropdown">
                   <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><b>RESEARCH</b> <span class="caret"></a>
                   <ul class="dropdown-menu" role="menu">
                      <li><a href="../#publications">Publications</a></li>
                      <li><a href="../#development">Development</a></li>
                      <li><a href="../#scholarships">Grants, Scholarships, Awards</a></li>
                   </ul>
                </li>
                </li>
                <li class="nav-item">
                <li class="dropdown">
                   <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><b>EXPERIENCE</b> <span class="caret"></a>
                   <ul class="dropdown-menu" role="menu">
                      <li><a href="../#experience">Experience</a></li>
                      <li><a href="../#skills">Skills & Interests</a></li>
                      <li><a href="../#affiliations">Affiliations & Services</a></li>
                   </ul>
                </li>
                </li>
                <li class="nav-item">
                <li class="dropdown">
                   <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown" role="button"><b>EDUCATION</b> <span class="caret"></a>
                   <ul class="dropdown-menu">
                      <li><a href="../#education">Education</a></li>
                      <li><a href="../#courses">Courses</a></li>
                      <li><a href="../#opportunities">Student Opportunities</a></li>
                   </ul>
                </li>
                </li>
                <hr style="height: 2px; ">
                <li class="nav-item">
                   <a class="nav-link js-scroll-trigger" href="../blog"><i class="fas fa-arrow-right"></i> Blog</a>
                </li>
             </ul>
          </div>
       </nav>

    <div class="container-fluid p-0">
        <section style="background: #F9F9F9">
            <div class="container" id="blog-container">
    
                <!-- Main Content -->
                <div class="index-content">
                    <div class="container">
                            <form action="/auth" method="post">
                                

                                <div class="form-group">
                                    <label for="password">Enter Your Password</label>
                                    <input type="password" class="form-control" id="code" name="code" placeholder="Enter your password">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="blue-button">Submit</button>
                                </div> 
                            </form>
                    </div>
                        
                </div>
                <br>
                <br>
        </section> 
      

    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/resume.min.js"></script>

  </body>

</html>
