<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>April Savoy</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="stylesheets/resume.css" rel="stylesheet">

  </head>

  <body id="page-top">

    

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
          <style type="text/css">
             @media (min-width: 1100px) {
             .dropdown-menu {
             width:200px; left:50%; margin-left:-100px;
             }
             }
          </style>
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <span class="d-block d-lg-none">April Savoy</span>
          <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/aprilsavoy.jpeg" alt="april savoy">
          </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav">
                <li class="nav-item">
                   <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                <li class="dropdown">
                   <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><b>RESEARCH</b> <span class="caret"></a>
                   <ul class="dropdown-menu" role="menu">
                      <li><a href="#publications">Publications</a></li>
                      <li><a href="#development">Development</a></li>
                      <li><a href="#scholarships">Grants, Scholarships, Awards</a></li>
                   </ul>
                </li>
                </li>
                <li class="nav-item">
                <li class="dropdown">
                   <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><b>EXPERIENCE</b> <span class="caret"></a>
                   <ul class="dropdown-menu" role="menu">
                      <li><a href="#experience">Experience</a></li>
                      <li><a href="#skills">Skills & Interests</a></li>
                      <li><a href="#affiliations">Affiliations & Services</a></li>
                   </ul>
                </li>
                </li>
                <li class="nav-item">
                <li class="dropdown">
                   <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown" role="button"><b>EDUCATION</b> <span class="caret"></a>
                   <ul class="dropdown-menu">
                      <li><a href="#education">Education</a></li>
                      <li><a href="#courses">Courses</a></li>
                      <li><a href="#opportunities">Student Opportunities</a></li>
                   </ul>
                </li>
                </li>
                <hr style="height: 2px;">
                <li class="nav-item">
                   <a class="nav-link js-scroll-trigger" href="blog"><i class="fas fa-arrow-right"></i> Blog</a>
                </li>
             </ul>
          </div>
       </nav>
      
      

    <div class="container-fluid p-0">
        
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
          
        <div class="my-auto">
          <h1 class="mb-0">April
            <span class="text-primary">Savoy</span>
            <span class = 'small'>PhD</span>
            <span class="text-md-right">
              <a href="savoyresume.pdf" class="btn btn-outline-dark"download="proposed_file_name">Download My Resume</a></span>
            </h1>       
          <div class="subheading mb-5">420 University Blvd
United States
 · Indianapolis, IN 46202
 · (317) 274-5555  ·
            <a href="mailto:asavoy@iu.edu" style="color: #BC66A5">asavoy@iu.edu</a>
            </div>
          
          <p class="lead mb-5">I'm an Assistant Professor of Computer Information and Technology at IUPUI campus. I am a Core Investigator in the VA HSR&D Center for Health Information and Communication and Director of the Human-Computer Interaction & Simulation Lab at the Richard L. Roudebush Veteran Affairs Medical Center in Indianapolis. As appointed Regenstrief Research Scientist in 2017, my research interests include the implementation of user-centered design to develop, evaluate, and integrate health information technologies that will increase efficiency of clinicians’ workflow, enhance care coordination, and improve the quality of healthcare delivery.</p>
          <div class="social-icons">
              <a href="https://scholar.google.com/citations?user=tkJ-XmcAAAAJ&hl=en">
                  <i class="fa fa-book"></i>
                </a>
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=april+Savoy">
                  <i class="fas fa-microscope"></i>
                </a>
            <a href="https://www.linkedin.com/in/april-savoy-phd-5735212/">
              <i class="fab fa-linkedin-in"></i>
            </a>

            <a href="mailto:asavoy@iu.edu">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </section>

      <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex  .justify-content-md-center flex-column flex-md-row mb-5">
            <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
              <img src="images/purdue.png" alt="" style="width: 80px; height: 80px;">
            </div>
            <div class="resume-content mr-auto">
              <h3 class="mb-0">PURDUE UNIVERSITY – West Lafayette, IN </h3>
              <div class="subheading mb-3">Doctorate of Philosophy, Industrial Engineering</div>
              <p>Human Computer Interaction Research Program</p>
            </div>
            <div class="resume-date .justify-content-md-end text-md-right">
              <span class="text-primary">Graduated 2008</span>
            </div>
          </div>

          <div class="resume-item d-flex  .justify-content-md-center flex-column flex-md-row mb-5">
            <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
              <img src="images/purdue.png" alt="" style="width: 80px; height: 80px;">
            </div>
            <div class="resume-content mr-auto">
              <h3 class="mb-0">PURDUE UNIVERSITY – West Lafayette, IN</h3>
              <div class="subheading mb-3">Masters of Science, Computer Science, 2004</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Graduated 2004</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
              <img src="images/xavier.png" alt="" style="width: 80px; height: 80px;">
            </div>

            <div class="resume-content mr-auto">
              <h3 class="mb-0">XAVIER UNIVERSITY OF LOUISIANA – New Orleans, LA</h3>
              <div class="subheading mb-3">Bachelors of Science, Computer Science, 2002</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Graduated 2002</span>
            </div>
          </div>

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
              <img src="images/iu.png" alt="" style="width: 80px; height: 80px;">
            </div>

            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Assistant Professor</div>
              <p>Indiana University Purdue University Indianapolis<br>School of Engineering and Technology <br>
                  Indianapolis, Indiana</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2018 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
              <img src="images/seal.png" alt="" style="width: 80px; height: 80px;">
            </div>

            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Director of Human Computer Interaction and Simulation Lab</div>
              <p>Richard L. Roudebush Veterans Affairs Medical Center for Health Information and Communication<br>Indianapolis, Indiana </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2014 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
              <img src="images/iu.png" alt="" style="width: 80px; height: 80px;">
            </div>

            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Assistant Professor and Director of Informatics</div>
              <p>Indiana University East<br>School of Business and Economics<br>Richmond, Indiana</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2012 - 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
              <img src="images/sa.png" alt="" style="width: 80px; height: 80px;">
            </div>

            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Program Manager - Research Associate</div>
              <p>SA Technologies Inc.<br>Santa Clara, California</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2008 - 2012</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
              <img src="images/aiu.png" alt="" style="width: 80px; height: 80px;">
            </div>

            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Adjunct Professor</div>
              <p>American InterContinental University<br>Department of Information Technology<br>Schaumburg, Illinois</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2010 - 2012</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
              <img src="images/purdue.png" alt="" style="width: 80px; height: 80px;">
            </div>

            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Graduate Research Assistant</div>
              <p>Purdue University<br>Department of Computer Science <br>West Lafayette, Indiana</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2003 - 2004</span>
            </div>
          </div>

          <h2 class="mb-5">Internships &amp; Co-Op</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Co-op Pre-Professional Engineer</div>
              <p>International Business Machines</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2004 – 2005</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Co-op Pre-Professional Engineer</div>
              <p>IBM T.J. Watson Research Center</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Summer 2001 &amp; 2002</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Information Systems Intern</div>
              <p>Summer 2000, Cummins Power Generation</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2008 - 2012</span>
            </div>
          </div>

        </div>

      </section>
      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-angular"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-node-js"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-less"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-wordpress"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-gulp"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-grunt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-npm"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Browser Testing &amp; Debugging</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
          <br>
          <br>

            <div class="my-auto">
              <h2 class="mb-5">Research Interests</h2>
              <p>My Research Interests in clude but are not limited to: Health Information Systems’, User-centered Design and Evaluation </p>
              <ul>
                <li>Assessing Health Information Technology’s Impact on Physician Communication During Care Coordination </li>
          <li>Engineering Electronic Health Record User Interfaces’ to Increase Situation Awareness</li>
          <li>Assessing the Impact of Mobile Technology-Integrated Clinical Workflows</li>
          <li>Usability Evaluation of Health Information Technology: Emphasizing Cognitive Requirements for Decision Making</li>
              </ul>
            </div>
          </section>


      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="scholarships">
        <div class="my-auto">
          <h2 class="mb-5">Fellowships &amp; Scholarships Awarded</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Sony Electronics Faculty Scholar</div>
              <p>Solicitation: Sony Corporation in America<br>Research &amp; Technical Area: Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2014, Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">American Association for the Advancement of Science Fellow (AAAS)</div>
              <p>Solicitation: AAAS<br>Research &amp; Technical Area: Computer Science</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2007-2008, Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Alliance for Graduate Education and the Professoriate (AGEP) Fellow</div>
              <p>Solicitation: Purdue University<br>Research &amp; Technical Area: Computer Science</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2006-2008, Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Purdue Doctoral Fellowship</div>
              <p>Solicitation: Purdue University<br>Research &amp; Technical Area: Computer Science</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2005-2008, Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">David and Lucille Hewlett Packard Fellowship</div>
              <p>Solicitation: David and Lucille Packard Foundation<br>Research &amp; Technical Area: Computer Science</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2002-2008, Principal Investigator </span>
            </div>
          </div>


        <div class="my-auto">
          <h2 class="mb-5">Research Grants Awarded</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Human Factors Investigation of HIE: Tools to Support Providers Coordination of Medications Team Meeting</div>
              <p>Solicitation: VA Health Services Research and Development<br>Research &amp; Technical Area: Health Services and Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2018, Co-Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">iPad Functionality Leveraged to Optimize Workflows (iFLOW)</div>
              <p>Solicitation: VA Health Services Research and Development<br>Research & Technical Area: Health Services and Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2017, Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Young Investigator Award: Mobile Computing in Primary Care</div>
              <p>Solicitation: Indiana Institute of Medical Research<br>Research &amp; Technical Area: Health Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2016, Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Improving Consultation Management between Primary Care and SubSpecialty Clinics (CONSULTS)</div>
              <p>Solicitation: VA Health Services Research and Development<br>Research &amp; Technical Area: Health Services and Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2014, Co-Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Center for Health Information and Communication</div>
              <p>Solicitation: VA Health Services Research and Development<br>Research &amp; Technical Area: Health Services and Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2014, Co-Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">IU Online 3.0</div>
              <p>Solicitation: Indiana University<br>Research &amp; Technical Area: Usability of Course Management Systems</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2013, Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Cyber Security High Abstraction Contextual Visualization and Decision Support System</div>
              <p>Solicitation: Department of Defense Small Business Innovation Research<br>Research &amp; Technical Area: Information Systems </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2012, Co-Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Enhancing Decision Making through Adaptive Trustworthiness Cues</div>
              <p>Solicitation: Department of Defense Small Business Innovation Research<br>Research &amp; Technical Area: Information Systems </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2012, Co-Principal Investigator</span>
            </div>
          </div>

        <div class="my-auto">
          <h2 class="mb-5">Quality Improvement Grants Awarded</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Electronic Capture of Patient-Centered Data to Improve Quality of Care</div>
              <p>Solicitation: Richard L. Roudebush Veteran Medical Center<br>Research &amp; Technical Area: Health Services and Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2017, Co-Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Measuring Efficiency of Key Clinical Tasks</div>
              <p>Solicitation: VA Office of Informatics and Analytics<br>Research &amp; Technical Area: Health Services and Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2016, Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Information Visualization Insights for Developers</div>
              <p>Solicitation: VA Office of Informatics and Analytics<br>Research &amp; Technical Area: Health Services and Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2016, Principal Investigator</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Veteran Affairs Video Access (VA&sup2;)</div>
              <p>Solicitation: VA Health Services Research and Development<br>Research &amp; Technical Area: Health Services and Informatics</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2015, Principal Investigator</span>
            </div>
          </div>

        <div class="my-auto">
          <h2 class="mb-5">Awards &amp; Honors</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Regenstrief Scientist</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2017, Regenstrief Institute</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Young Investigator Award</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2016, Indiana Institute for Medical Research</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Purdue Alumni Excellence Award</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2015, Purdue Black Graduate Student Association</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Sony Scholar Award</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2014, Sony Corporation in America</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Honorary Member</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2014, Delta Mu Delta</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Best Presentation Award</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2013, Academy Business Research International Conference</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Boeing Award Nomination</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2010, Boeing Performance Award</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Best Paper Nomination</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2009, American Society of Engineering Education (ASEE)</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Outstanding Graduate Student – Purdue University</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2008, School of Industrial Engineering </span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">NASA Systems Engineering Design Champion</div>
                <p>A member of the first place team in NASA’s Exploration Systems Mission Directorate Space Grant Systems Engineering Paper Competition.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2007, NASA Systems Engineering Design Competition</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Science Update (online): Spotlight on African American Scientists </div>
                <p>My research was featured on the show and was featured as one of the top African American Scientists.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2006, American Association for the Advancement of Science (AAAS) </span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Alpha Pi Mu Honor Society</div>
                <p>Xavier University of Louisiana</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2005- Present</span>
            </div>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="development">
        <div class="my-auto">
          <h2 class="mb-5">Professional Development</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Quality Matters Certificate</div>
              <p>2015, Indiana University</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Certificate in Online Teaching</div>
                <p>2013, Indiana University East</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Statewide Information Technology Conference </div>
              <p>2013, Indiana University</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Academic Careers Workshop</div>
                <p>2013, National Science Foundation</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Faculty Online Teaching Workshop Series</div>
                <p>2013, Indiana University East</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Operational Security(OPSEC) Awareness</div>
                <p>Training for Military Members, DoD Employees and Contractors*<br>2011, Center for Development of Security Excellence</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Project Management: How to Do it Right </div>
                <p>2010, National Society of Professional Engineers</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Graduate Teaching Certificate - Purdue University</div>
                <p>2008, Center for Instructional Excellence</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Compact for Faculty Diversity</div>
                <p>2007, Institute on Teaching and Mentoring Southern Regional Education Board</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">College Teaching Workshop Series</div>
                <p>2006, Purdue University Center for Instructional Excellence</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Preparing Future Faculty</div>
                <p>2006, Purdue University</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Expediting Usability Testing </div>
                <p>2005, 11th International Conference on Human-Computer Interaction</p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">The Disappearing Computer: Designing Interaction for Smart Artifacts</div>
                <p>HCI Themes: Social Creativity, Meta-Design, and End-User Development<br>2005, 11th International Conference on Human-Computer Interaction</p>
            </div>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="affiliations">
        <div class="my-auto">
          <h2 class="mb-5">Professional Affiliations</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">American Medical Informatics Association</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2015 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Healthcare Information and Management Systems Society</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2015 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Association for Computing Machinery</div>
              <p>Special Interest Group Computer Human Interaction (SIGCHI)</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2011 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Human Factors and Ergonomics Society</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2005 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Women in Engineering Program</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2005 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">National Society of Black Engineers</div>
                <p>2001-2002, Vice President and Academic Excellence Chair</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">1999 - Present, Member</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Computer Science Women’s Network</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2002 - 2004, Member</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <div class="subheading mb-3">Alpha Pi Mu</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2005 - Present, Member</span>
            </div>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="service">
        <div class="my-auto">
          <h2 class="mb-5">Community Service Organizations</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Delta Sigma Theta Sorority, Inc</div>
              <p>Private, non-profit organization whose members provide voluntary services and programs to diverse communities to promote human welfare.</p>
            </div>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="courses">
        <div class="my-auto">
          <h2 class="mb-5">Courses</h2>
          <div class="container">

            <div class="row">
                  <div class="title-section" onclick="myFunction()">
                      
                      <h2 class="title-head inline">Courses Currently Teaching</h2>
                      <br>
                      <svg width="400" height="10">
                  <rect width="100" height="25" style="fill:#8B1C65;stroke-width:0;stroke:rgb(0,0,0); " />
                  </svg>
                       <br>
                       <br>
                        <br>

                      <div class="title-bar"></div>
                  </div>
                  <div id="myDIV">
                  <div class="course flexbox center">
                      <div class="right-col">
                          <img src="images/iupui.png" alt="IUPUI" class="col-pic" height="100">
                      </div>
                      <div class="left-col">
                          <div class="group-left">
                              <h3 class="group-heading">University:</h3>
                              <span class="group-span">Indiana University-Purdue University Indianapolis</span>

                              <h3 class="group-heading">Course Name:</h3>
                              <span class="group-span"><a href="http://engr.iupui.edu/departments/cigt/courses/cit/37400.php" target="_blank">CIT-374 Systems and Database Analysis</a></span>

                              <h3 class="group-heading">Date:</h3>
                              <span class="group-span">2012 - Present</span>

                              <h3 class="group-heading">Credits:</h3>
                              <span class="group-span">3</span>

                          </div>
                      </div>
                      <div class="middle-col">
                          <div class="group-middle">
                              <h3 class="group-heading">Description:</h3>
                              <p class="group-para">
                                  Intensive exploration of application and database analysis in a synergistic environment. Students engage in collaborative, project-based activities to learn about project management, requirement analysis, modeling, and prototyping employing problem solving and team building skills. Object-oriented and data modeling tools are used to apply class concepts.
                              </p>
                              <h3 class="group-heading outcomes">Outcome(s):</h3>
                              <ul>
                                  <li>
                                      Utilize information gathering techniques to determine the requirements of the problem to be solved (CIT b)
                                  </li>
                                  <li>
                                      Apply data, process, and object modeling techniques (CIT i)
                                  </li>
                                  <li>
                                      Integrate the processes of analysis and modeling within a semester project (CIT k)
                                  </li>
                                  <li>
                                      Develop well-formed logical and conceptual database designs (CIT b)
                                  </li>
                                  <li>
                                      Prototype and document an acceptable solution to a problem (CIT f, k)
                                  </li>
                                  <li>
                                      Apply project and team management skills (CIT d, n)
                                  </li>
                              </ul>
                          </div>
                      </div>
                      
                  </div>
                  <hr/>
                  <div class="course flexbox center">
                      <div class="left-col">
                          <div class="group-left">
                              <h3 class="group-heading">University:</h3>
                              <span class="group-span">Indiana University-Purdue University Indianapolis</span>

                              <h3 class="group-heading">Course Name:</h3>
                              <span class="group-span"><a href="https://soic.iupui.edu/courses/info-i101/" target="_blank">INFO-I101 Introduction to Informatics</a></span>

                              <h3 class="group-heading">Date:</h3>
                              <span class="group-span">2012 - Present</span>

                              <h3 class="group-heading">Credits:</h3>
                              <span class="group-span">4</span>

                          </div>
                      </div>
                      <div class="middle-col">
                          <div class="group-middle">
                              <h3 class="group-heading">Description:</h3>
                              <p class="group-para">
                                  Computer literacy. Problem solving with information technology; introduction to information representation, relational databases, system design, propositional logic, cutting edge technologies; CPU, operating systems, networks; laboratory emphasizing information technology including webpage design, word processing, and databases using tools available on campus.
                              </p>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <div class="course flexbox center">
                      <div class="left-col">
                          <div class="group-left">
                              <h3 class="group-heading">University:</h3>
                              <span class="group-span">Indiana University-Purdue University Indianapolis</span>

                              <h3 class="group-heading">Course Name:</h3>
                              <span class="group-span"><a href="https://soic.iupui.edu/courses/info-i202/" target="_blank">INFO-I202 Social Informatics</a></span>

                              <h3 class="group-heading">Date:</h3>
                              <span class="group-span">2012 - Present</span>

                              <h3 class="group-heading">Credits:</h3>
                              <span class="group-span">3</span>

                          </div>
                      </div>
                      <div class="middle-col">
                          <div class="group-middle">
                              <h3 class="group-heading">Description:</h3>
                              <p class="group-para">
                                  Introduction to key social research perspectives and literatures on the use of information and communication technologies. Discusses current topics such as information ethics, relevant legal frameworks, popular and controversial uses of technology e.g. peer-to-peer file sharing, digital divides, etc. Outlines research methodologies for social informatics.
                              </p>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <div class="course flexbox center">
                      <div class="left-col">
                          <div class="group-left">
                              <h3 class="group-heading">University:</h3>
                              <span class="group-span">Indiana University-Purdue University Indianapolis</span>

                              <h3 class="group-heading">Course Name:</h3>
                              <span class="group-span"><a href="https://soic.iupui.edu/courses/info-i300/" target="_blank">INFO-I300 Human Computer Interaction/ Interface Design</a></span>

                              <h3 class="group-heading">Date:</h3>
                              <span class="group-span">2012 - Present</span>

                              <h3 class="group-heading">Credits:</h3>
                              <span class="group-span">3</span>

                          </div>
                      </div>
                      <div class="middle-col">
                          <div class="group-middle">
                              <h3 class="group-heading">Description:</h3>
                              <p class="group-para">
                                  The analysis of human factors and the design of computer application interfaces. A survey of current HCI designs with an eye toward what future technologies will allow. The course will emphasize learning HCI based on implementation and testing interfaces.
                              </p>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <div class="course flexbox center">
                      <div class="left-col">
                          <div class="group-left">
                              <h3 class="group-heading">University:</h3>
                              <span class="group-span">Indiana University-Purdue University Indianapolis</span>

                              <h3 class="group-heading">Course Name:</h3>
                              <span class="group-span"><a href="https://soic.iupui.edu/courses/info-i400/" target="_blank">INFO-I400 Informatics Special Topics</a></span>

                              <h3 class="group-heading">Date:</h3>
                              <span class="group-span">2012 - Present</span>

                              <h3 class="group-heading">Credits:</h3>
                              <span class="group-span">3</span>

                          </div>
                      </div>
                      <div class="middle-col">
                          <div class="group-middle">
                              <h3 class="group-heading">Description:</h3>
                              <p class="group-para">
                                  At least junior standing or permission of instructor. Variable topics. Emphasis is on new developments and research in informatics. May be repeated for credit when topics vary, subject to approval of the informatics director.
                              </p>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <div class="course flexbox center">
                      <div class="left-col">
                          <div class="group-left">
                              <h3 class="group-heading">University:</h3>
                              <span class="group-span">Indiana University-Purdue University Indianapolis</span>

                              <h3 class="group-heading">Course Name:</h3>
                              <span class="group-span"><a href="https://soic.iupui.edu/courses/info-i491/" target="_blank">INFO-I491 Capstone Project/Internship</a></span>

                              <h3 class="group-heading">Date:</h3>
                              <span class="group-span">2012 - Present</span>

                              <h3 class="group-heading">Credits:</h3>
                              <span class="group-span">3</span>

                          </div>
                      </div>
                      <div class="middle-col">
                          <div class="group-middle">
                              <h3 class="group-heading">Description:</h3>
                              <p class="group-para">
                                  Students culminate their course studies through practical application of concepts and practices working in industry. Course requires prior authorization and approval of internship through the Career Services Office. Required coursework is completed via Oncourse.
                              </p>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <div class="course flexbox center">
                      <div class="left-col">
                          <div class="group-left">
                              <h3 class="group-heading">University:</h3>
                              <span class="group-span">Indiana University-Purdue University Indianapolis</span>

                              <h3 class="group-heading">Course Name:</h3>
                              <span class="group-span"><a href="https://soic.iupui.edu/courses/info-i492/" target="_blank">INFO-I492 Senior Thesis</a></span>

                              <h3 class="group-heading">Date:</h3>
                              <span class="group-span">2012 - Present</span>

                              <h3 class="group-heading">Credits:</h3>
                              <span class="group-span">3</span>

                          </div>
                      </div>
                      <div class="middle-col">
                          <div class="group-middle">
                              <h3 class="group-heading">Description:</h3>
                              <p class="group-para">
                                  The senior student prepares and presents a thesis: a substantial, typically multichapter paper based on a well-planned research or scholarly project, as determined by the student and a sponsoring faculty member.
                              </p>
                          </div>
                      </div>
                  </div>
                </div>
                  </div>
              </div>
          </div>


        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column">
          <br>
          <br>
          <div class="container">
  
            <div class="row">
                  <div class="title-section" onclick="myFunction2()">
                      
                      <h1 class="title-head inline">Courses Previously Taught</h1>
                      <br>
                      <svg width="400" height="10">
                  <rect width="100" height="25" style="fill:rgb(234,136,89);stroke-width:0;stroke:rgb(0,0,0); " />
                  </svg>
                       <br>
                       <br>
                        <br>
                      <div class="title-bar"></div>
                  </div>
                  <div id="myDIV2">
                      <div class="course flexbox center">
                          <div class="left-col">
                              <div class="group-left">
                                  <h3 class="group-heading">University:</h3>
                                  <span class="group-span">Indiana University East</span>
  
                                  <h3 class="group-heading">Course Name:</h3>
                                  <span class="group-span"><a href="https://www.iue.edu/business/mis/courses.php" target="_blank">IIM-I300 Foundations and Principles of Integrated Information Management</a></span>
  
                                  <h3 class="group-heading">Date:</h3>
                                  <span class="group-span">2012 - 2018</span>
  
                                  <h3 class="group-heading">Credits:</h3>
                                  <span class="group-span">3</span>
  
                              </div>
                          </div>
                          
                      </div>
                      <hr>
                      <div class="course flexbox center">
                          <div class="left-col">
                              <div class="group-left">
                                  <h3 class="group-heading">University:</h3>
                                  <span class="group-span">American InterContinental University</span>
  
                                  <h3 class="group-heading">Course Name:</h3>
                                  <span class="group-span"><a href="https://www.aiuniv.edu/" target="_blank">Unix Security</a></span>
  
                                  <h3 class="group-heading">Date:</h3>
                                  <span class="group-span">2010 - 2012</span>
  
                                  <h3 class="group-heading">Credits:</h3>
                                  <span class="group-span">3</span>
  
                              </div>
                          </div>
                          
                          <hr>
                      </div>
                      <div class="course flexbox center">
                          <div class="left-col">
                              <div class="group-left">
                                  <h3 class="group-heading">University:</h3>
                                  <span class="group-span">American InterContinental University</span>
  
                                  <h3 class="group-heading">Course Name:</h3>
                                  <span class="group-span"><a href="https://www.aiuniv.edu/" target="_blank">Human/Computer Interface Interactions</a></span>
  
                                  <h3 class="group-heading">Date:</h3>
                                  <span class="group-span">2010 - 2012</span>
  
                                  <h3 class="group-heading">Credits:</h3>
                                  <span class="group-span">3</span>
  
                              </div>
                          </div>
                          
                          <hr>
                      </div>
                      <div class="course flexbox center">
                          <div class="left-col">
                              <div class="group-left">
                                  <h3 class="group-heading">University:</h3>
                                  <span class="group-span">American InterContinental University</span>
  
                                  <h3 class="group-heading">Course Name:</h3>
                                  <span class="group-span"><a href="https://www.aiuniv.edu/" target="_blank">Intrusion Detection and Prevention for Windows Security</a></span>
  
                                  <h3 class="group-heading">Date:</h3>
                                  <span class="group-span">2010 - 2012</span>
  
                                  <h3 class="group-heading">Credits:</h3>
                                  <span class="group-span">3</span>
  
                              </div>
                          </div>
                         
                          <hr>
                      </div>
                      <div class="course flexbox center">
                          <div class="left-col">
                              <div class="group-left">
                                  <h3 class="group-heading">University:</h3>
                                  <span class="group-span">American InterContinental University</span>
  
                                  <h3 class="group-heading">Course Name:</h3>
                                  <span class="group-span"><a href="https://www.aiuniv.edu/" target="_blank">Topics in Security Management</a></span>
  
                                  <h3 class="group-heading">Date:</h3>
                                  <span class="group-span">2010 - 2012</span>
  
                                  <h3 class="group-heading">Credits:</h3>
                                  <span class="group-span">3</span>
  
                              </div>
                          </div>
                         
                          <hr>
                      </div>
                      <div class="course flexbox center">
                          <div class="left-col">
                              <div class="group-left">
                                  <h3 class="group-heading">University:</h3>
                                  <span class="group-span">American InterContinental University</span>
  
                                  <h3 class="group-heading">Course Name:</h3>
                                  <span class="group-span"><a href="https://www.aiuniv.edu/" target="_blank">Defense in Depth</a></span>
  
                                  <h3 class="group-heading">Date:</h3>
                                  <span class="group-span">2010 - 2012</span>
  
                                  <h3 class="group-heading">Credits:</h3>
                                  <span class="group-span">3</span>
  
                              </div>
                          </div>
                         
                          <hr> 
                      </div>
                      <div class="course flexbox center">
                          <div class="left-col">
                              <div class="group-left">
                                  <h3 class="group-heading">University:</h3>
                                  <span class="group-span">American InterContinental University</span>
  
                                  <h3 class="group-heading">Course Name:</h3>
                                  <span class="group-span"><a href="https://www.aiuniv.edu/" target="_blank">Introduction to Information Security</a></span>
  
                                  <h3 class="group-heading">Date:</h3>
                                  <span class="group-span">2010 - 2012</span>
  
                                  <h3 class="group-heading">Credits:</h3>
                                  <span class="group-span">3</span>
  
                              </div>
                          </div>
                         
                       
                      </div>
  
                  </div>
  </section>



      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="opportunities">
  <div class="my-auto">
    <h2 class="mb-5">Student Opportunities</h2>

    <div class="resume-item d-flex  .justify-content-md-center flex-column flex-md-row mb-5">
      <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
        <img src="images/indiana-intern.png" alt="" style="width: 80px; height: 80px;">
      </div>
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Indiana Intern</h3>
        <p>IndianaIntern.Net (IIN) has internship postings from throughout the state of Indiana, some of which are eligible for the EARN Indiana program (a state work-study program). Thanks to a collaboration with IIN, these postings now appear in the IUPUI jobs board (JagJobs)</p>
      </div>
    </div>

    <div class="resume-item d-flex  .justify-content-md-center flex-column flex-md-row mb-5">
      <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
        <img src="images/iupui.png" alt="" style="width: 80px; height: 80px;">
      </div>
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Life-Health Sciences Internship</h3>
        <p>The Life-Health Sciences Internship Program connects IUPUI life and health sciences undergraduates with research and professional experience internships on and near campus. Interns explore and refine career and academic goals, gain valuable skills, and grow as professionals under the supervision of faculty and staff in IUPUI graduate and professional programs. Internships are paid and last from the end of August until the beginning of May.</p>
      </div>
    </div>

    <div class="resume-item d-flex  .justify-content-md-center flex-column flex-md-row mb-5">
      <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
        <img src="images/appirio-1.png" alt="" style="width: 80px; height: 65px;">
      </div>
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Appirio</h3>
        <p>Launch your career in technical consulting. Learn about next-generation worker and customer experience. Partern up with Salesforce, get results customers will love, and create a better experience for worker & customer experience. More at Appirio.</p>
      </div>
    </div>

    <div class="resume-item d-flex  .justify-content-md-center flex-column flex-md-row mb-5">
      <div class="resume-img .justify-content-Start" style="padding-right: 10px;">
        <img src="images/IEEE.png" alt="" style="width: 80px; height: 60px;">
      </div>
      <div class="resume-content mr-auto">
        <h3 class="mb-0">IEEE</h3>
        <p>IEEE is the world's largest technical professional organization for the advancement of technology. Work on security updates, the IEEE spectrum, and IEEE transmitters. Gain an insight to the world of technology by visiting IEEE.</p>
      </div>
    </div>

  </div>
</section>

<hr>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="publications">
<div class="my-auto">
<h2 class="mb-5">Publications</h2>

<section style="background: #F9F9F9">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h3 id="btn-scroll-1" class="btn-scroll">Books and Chapters</h1>
                    <svg width="300" height="10">
                        <rect width="100" height="25" style="fill:#8B1C65;stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>
                </div>

                <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Holden, R., Voida, S., Savoy,  A., Jones, J. &amp; Kulanthaivel, A. (2016). Human Factors Engineering and Human–Computer Interaction: Supporting User Performance and Experience. In Clinical Informatics Study Guide: Springer International Publishing. </li>
                            <li>Onal,  E.,  Savoy,  A.,  and  McDonald,  S.  (2012,  July).  Augmented  navigation:  A  cognitive  approach.  In  K.  M.  Stanney  &amp;  K.  S.  Hale  (Eds.),  Advances  in  Cognitive  Engineering  and  Neuroergonomics(13-22).  Boca  Raton,  FL:  CRC Press. </li>
                            <li>Liao,  H.,  Guo,  Y.,  Savoy,  A.,  and  Salvendy,  G.  (2009).  Content  preparation  guidelines   for   the   web   and   information   appliances:   Cross-cultural comparisons. Boca Raton, FL: CRC Press. </li>
                        </ul>
                    </div>

                </div>


                <br>
                <br>
            </div>
        </div>
    </section>

    <section style="background: #C3C3E5;">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h3 id="btn-scroll-2" class="btn-scroll">Journal Articles (Peer Reviewed)</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:#8B1C65;stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>

                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Savoy,  A.,  Patel,  H.,  Herout,  J.  and  Weiner,  M.  (Submission  Intent  -  May). Systematic Literature Review of Clinical Information Visualizations for Primary Care.  Applied Clinical Informatics. </li>

                            <li>Savoy,  A.,  Militello,  L.,  Patel,  H.,  Diiulio,  J.,  Herout,  J.    and  Weiner,  M.  (Submission   Intent   -   March).   Primary   Care   Physicians’   Cognitive   Requirements  to  Support  Decision  Making  During  the  Consultation  Process. International Journal of Human Computer Interaction. </li>

                            <li>Militello, L., Savoy, A., Patel, H., Diiulio, J., Flanagan, M., Daggy, J., Russ, A. and   Weiner,   M.   (2018). Hidden   complexities   in   information   flow   between primary and specialty care clinics.  Cognition, Technology, and Work, 1-10. </li>

                            <li>Savoy, A., Militello, L., Patel, H., Diiulio, J., Flanagan, M., Daggy, J., Russ, A., Weiner,  M.,  and  Saleem,  J.  (2018).  A cognitive  systems  engineering  approach  to  improve  the  usability  of  electronic  order  forms  for  medical  consultations.  Journal of Biomedical Informatics. </li>

                            <li>Savoy, A., Patel, H., Flanagan, M., Daggy, J., Russ, A. and Weiner, M. (2018). Comparative  usability  evaluation  of  consultation  order  templates  in  a  simulated primary care environment. Applied Ergonomics, 73, 22-32. </li>

                            <li>Saleem,  J.  J., Savoy,  A.,  Etherton,  G.,  and  Herout,  J.  (2018).   Investigating  the  need  for  clinicians  to  use  tablet  computers  with  a  newly  envisioned  electronic  health  record. International  Journal  of  Medical  Informatics, 110(2), 25-30.  </li>

                            <li>Savoy, A., Patel, H., Flanagan, M., Weiner, M., and Russ, A. (2017). Systematic heuristic   evaluation   of   computerized   consultation   order   templates:   Clinicians’  and  Human  Factors  Engineers’  Perspectives. Journal  of  Medical Systems.  </li>

                            <li>Savoy,   A.and   Salvendy,   G.   (2016).   Factors   for   Customer   Information   Satisfaction:   User   Approved   and   Customer   Validated.   International Journal of Human-Computer Interaction.</li>

                            <li>McLeod,   A.   &amp;   Savoy,   A.   (2015).   The   building   blocks   for   enhanced   technological literacy. The Career and Technical Education Journal.</li>

                            <li>Guo,  Y.,  Savoy,  A.,  and  Byrd,  K.  (2009)  Development  and  validation  of  an  instrument to evaluate the content effectiveness of video games:  A pilot study. Theoretical Issues in Ergonomics Science, 10(2), 107-133. </li>

                            <li>Savoy, A., Proctor, R. W., &amp; Salvendy, G. (2009). Information retention from PowerPointTM and traditional lectures. Computers and Education, 52(4), 858-867.  </li>

                            <li>Savoy,  A.  and  Salvendy,  G.  (2008).  Foundations  of  content  preparation  for  the  web. Theoretical Issues in Ergonomics Science, 9(6), 501-521. [Based on Dissertation]  </li>

                            <li>Savoy,  A.,  Guo,  Y.,  and  Salvendy,  G.  (2008). Effects  of  detectability  and  importance   of   usability   problems   on   sample   size   requirements.   International Journal of Human-Computer Interaction, 25(5), 430-440.   </li>
                        </ul>
                    </div>

                </div>

                </div>
            </div>
            <br>
            <br>
        </div>
    </section>

    <section style="background: #F1F0FF">
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 id="btn-scroll-3" class="btn-scroll">Conference Proceedings (Peer Reviewed)</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:#8B1C65;stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>

                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Militello,   L.   Savoy,   A,.Flanagan,   M.,   Wu,   J.,   Adams,   J.,   Rehman,   S.,   Abbaszadegan, H., and Weiner, M. (2017).   Exploring Information Flow: Consultations between Primary and Specialty Care Clinics. International Conference on Naturalistic Decision Making. </li>

                            <li>Moayed,  F.  A.,  Savoy,  A.,and Turpen,  C.  (2017).  Study  of  Suitability  of  Computer  Workstations  Design  for  Nurses’  Work  Content.  In  G.  V.  Duffy   &amp;   N.   Lightner   (Eds.),   Advances   in   Human   Factors   and   Ergonomics in Healthcare: Proceedings of the AHFE 2016 International Conference  on  Human  Factors  and  Ergonomics  in  Healthcare,  July  27-31,  2016,  Walt  Disney  World®,  Florida,  USA  (pp.  89-101).  Cham:  Springer International Publishing. </li>

                            <li>Savoy, A., and McLeod, A. (2014, June). The Value of User Centered Design in Product   Marketing:   A   Simulated   Manufacturing   Company   Product   Offering  Market  Strategy.  In  F.-H.  Nah  (Ed.),  HCI  in  Business  (Vol. 8527, pp. 575-582): Springer International Publishing. </li>

                            <li>Savoy,  A.  (2013,  March).  Investigating  the  Usability  of  Conceptual  Models:  User’s    Perspective.    Association    for    Industry,    Engineering,    and    Management Systems Conference, Cocoa Beach, FL </li>

                            <li>Savoy,  A.,  and McLeod,  A.  (2013).  A  Precursory  Look  at  Potential  Interaction  Objectives  Affecting  Flexible  Robotic  Cell  Safety.  In  S.  Yamamoto  (Ed.), Human Interface and the Management of Information. Information and  Interaction  for  Health,  Safety,  Mobility  and  Complex  Environments(Vol. 8017, pp. 198-206): Springer Berlin Heidelberg.  </li>

                            <li>Robinson, J., Savoy,  A.,Strater,  L.,  Endsley,  M.,  and  Hyatt,  J. (2011, October). The networked patrol leader:  The  need  for  technologies  with  a  user focus.    Paper   presented   at   the   IEEE 6thAnnual   Network   Science   Workshop, West Point, NY. </li>

                            <li>McLeod,   A.,   and   Savoy,   A.   (2009,   June). Problem-based   learning   in   an   introductory level lean manufacturing systems course. Paper presented at the American  Society  of  Engineering  Education Annual  Conference  &amp;  Exposition, Austin, TX. [Best Paper Nominated] </li>

                            <li>Savoy, A., and Salvendy, G. (2007, July). Effectiveness of content preparation in information  technology  operations:  Synopsis  of  a  working  paper.  In Jacko,  J  (Ed.),  Human  Computer  Interaction:  Interaction  Design  and  Usability, Lecture    Notes    in    Computer    Science, 4550,    624-631.Heidelberg, Germany: Springer.  </li>

                            <li>Savoy, A. (2000, April). A single strategy  for  multiple threads. Paper presented at the National  Conference  on  Undergraduate  Research,  Missoula,  Montana. </li>
                        </ul>
                    </div>

                </div>

                </div>
            </div>
        </div>
        <br>
        <br>
    </section>

    <section style="background: #C3C3E5;">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h3 id="btn-scroll-4" class="btn-scroll">Conference Presentations &amp; Extended Abstracts (Peer Reviewed)</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:#8B1C65;stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>

                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Savoy, A., Patel, H., Flanagan, M., Daggy, J., Barker, B., Slaven, J. Russ, A. and Weiner,  M.  (2017).  Comparison  of  Two  Electronic  Order  Forms  for  Medical    Consultation:    Think-Aloud    Usability    Assessment    With    Referring Clinicians. Human Factors and Ergonomics Annual Meeting. </li>

                            <li>Savoy,  A., Patel,  H.,  Flanagan,  M.,  Weiner,  M.,  and  Russ,  A.(2017).Usability Evaluation of VA Consultation Order Templates: Identifying Problems to Prioritize  Redesign  Efforts.  Veterans  Health  Administration’s  Health  Services Research and Development National Meeting. Washington, DC. </li>

                            <li>Savoy,  A.(2017).  Practitioners’  and  User-centered Design Specialists’ Varying Perspectives  on  the  Impact  of  Usability  Priorities  and  Design.  The Patient, The Practitioner, and The Computer: Holding on to the Core of Our  Healing  Professions  in  a  Time  of  Technological  Change.  Warren  Alpert Medical School Conference. Brown University. </li>

                            <li>Militello,  L., Diiulio,  J.,  Russ,  A., Savoy,  A., Flanagan, M., Patel,  H.,  and Weiner,   M.   (2016).   Design   Concepts   to   Support   Management   of   Outpatient Consultations in the Veterans Health Administration. Human Factors and Ergonomics Annual Meeting. </li>

                            <li>Savoy, A., Patel, H., Flanagan, M., Russ, A., Weiner, M. (2016). Templates for Ordering  Specialty  Care  Consultations  Lack  Minimalism  and  Error  Prevention:   Results   of   a   Heuristic   Evaluation. American   Medical   Informatics Association. Chicago, IL. </li>

                            <li>Wu,  J.,  Militello,  L.,  Flanagan,  M.,  Barker,  B.,  Rehman,  S.,  Porter,  B.,  Adams,  J., Savoy,  A.,  Russ,  A.,  Weiner,  M.  (2016).  Barriers  and  Facilitators  to  Using  Electronic  Health  Records  for  Referrals  between  Primary  and  Specialty   Care   Clinics.   American   Medical   Informatics   Association. Chicago, IL. </li>

                            <li>Savoy,   A.    (2016).   Error   Message   Design.   Applied   Human   Factors   and   Ergonomics International Conference. Orlando, Florida. </li>

                            <li>Weiner M, Barker B, Midboe A, Porter B, Adams J, Wu J, Flanagan M, Savoy A,  Rehman  S,  Abbaszadegan  H,  Russ  A,  Thurmond  C,  Haggstrom  D,  Frankel   R,   Militello   L.  (2016). Cognitive   challenges,   technological   factors,   and   communication   of   medical   referrals   and   consultations. International  Symposium  on  Human  Factors  and  Ergonomics  in  Health  Care: Shaping the Future, San Diego, CA.  </li>

                            <li>Savoy, A.(2013) Providing Useful Information on Websites: Understanding the Impact  of  Demographics  on  Customer  Information  Satisfaction.  19thAcademy  of  Business  Research  Fall  International  Conference,  Montego  Bay, Jamaica. [Best Paper Award]  </li>

                            <li>Savoy,  A.(2013).  Investigating  the  Usability  of  Conceptual  Models:  Users’  Perspective. 19th   International AnnualIndustry   Engineering   and   Management Systems Conference, Cocoa Beach, FL.  </li>
                        </ul>
                    </div>

                </div>

                </div>
            </div>
            <br>
            <br>
        </div>
    </section>

    <section style="background: #F9F9F9">
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 id="btn-scroll-5" class="btn-scroll">Media Articles</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:#8B1C65;stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>

                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Patel, H., Savoy, A., &amp; Weiner, M.(2017). Applying usability heuristics to improve outpatient consultation orders. The Human Factors Quarterly. (18). </li>

                            <li>Savoy, A. (2016). At the Intersection of Human Computer Interaction, Human Factors, and Informatics: An Interview with April Savoy, PhD. The Savoy   7Human Factors Quarterly. (14). </li>
                        </ul>
                    </div>
                    <br><br>
                </div>

                </div>

                <div class="col-sm-12">
                    <h3 id="btn-scroll-6" class="btn-scroll">Invited Talks</h1>
                    <svg width="400" height="10">
                        <rect width="100" height="25" style="fill:#8B1C65;stroke-width:0;stroke:rgb(0,0,0); " />
                    </svg>
                    <br>
                    <br>
                    <br>

                    <div class="align-list">

                    <div class="pub-list publist-1">
                        <ul>
                            <li>Savoy,  A.  (2016).At  the  Intersection  of  Human  Computer  Interaction,  Human  Factors,  and  Informatics:  An  Interview  with  April  Savoy,  PhD.  The Human Factors Quarterly. (14).  </li>

                            <li>Savoy,  A.(2014,  January).  Usability:  The  other  set  of  vital  signs.  Richard  L.  Roudebush Veterans Affairs Medical Center, Indianapolis, IN. </li>

                            <li>Savoy, A. (2013, November). Research Insights in Human Computer Interaction and  Informatics.Purdue  University  Human Factors  and  Ergonomics  Society, West Lafayette, IN. </li>

                            <li>Savoy,  A.(2006,  July).  2nd  generation  usability  evaluation  for  gaming:  What  gamers  want  and  how  gamers  want  it. David  and  Lucile  Packard  Foundation Graduate Scholars Conference, Washington, D.C.  </li>

                            <li>Savoy,    A. (2005,    July).    Electronic    medical    record:    Human    factors improvements  for  the  front-end.   David  and  Lucile  Packard  Foundation  Graduate Scholars Conference, Monterey, California. </li>

                            <li>Savoy,  A.(2004,  July).  Key  management  for  mobile  wireless  sensor  networks. David  and  Lucile  Packard  Foundation  Graduate  Scholars  Conference,  Washington, D.C. </li>

                            <li>Savoy,  A.(2002,  October).  User  interfaces:  Utilizing  the  small  screen.  Model Institutions for Excellence Annual Conference, New Orleans, Louisiana. </li>

                            <li>Savoy,  A.(2001,  July). B2B  platforms  for  e-business. Leadership  Alliance  Symposium. Stone Mountain, Georgia.  </li>
                        </ul>
                    </div>

                </div>

                </div>



            </div>
        </div>
        <br>
        <br>
    </section>

</div>
</section>


    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/resume.min.js"></script>

  </body>

</html>
